<!-- <div>
    <div class="col-12 multi-elements" style="padding-right: 25%;">
        <label>Character Name</label>
        <label>Passive Skill</label>
        <label>Unique Skill</label>
        <label>Testing style</label>
    </div>
    <div class="multi-elements">
        <p><strong>characterName</strong></p>
        <p><strong>characterPassive</strong></p>
        <p><strong>characterSkill</strong></p>
    </div>
</div> -->

<div class="charSheet">
    <div class="multi-elements">
        <h5>Character's Name:</h5>
        <h5>Character's Passive:</h5>
        <h5>Character's Skill:</h5>
    </div>
    <div class="multi-elements">
        <p>{{character?.name}}</p>
        <p><strong>{{character?.passiveName}}</strong>{{character?.passive}}</p>
        <p><strong>{{character?.skillName}}</strong>{{character?.skill}}</p>
    </div>
</div>