.multi-elements {
    flex-wrap: nowrap;
    display: flex;
}

.multi-elements p {
    width: 100%;
    margin-right: 2%;
}


.charSheet {
    display: block;
    margin-right: 0%;
    border: 3px;
    padding: 2%;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    background-image: url('https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png');
}

.charSheet p{
    border-right: solid 3px black;
    flex-wrap: nowrap;
}

.charSheet h5{
    border-right: solid 3px black;
}

/* .charTexts{
    flex-wrap: nowrap;
} */

strong {
    display: inline;
}