<!-- <div>
    <div class="col-12 multi-elements" style="padding-right: 25%;">
        <label>Character Name</label>
        <label>Passive Skill</label>
        <label>Unique Skill</label>
        <label>Testing style</label>
    </div>
    <div class="multi-elements">
        <p><strong>characterName</strong></p>
        <p><strong>characterPassive</strong></p>
        <p><strong>characterSkill</strong></p>
    </div>
</div> -->

<div>
    <div class="col-12 multi-elements" style="padding-right: 25%;">
        <label>Character Name</label>
        <label>Passive Skill</label>
        <label>Unique Skill</label>
    </div>
    <div class="multi-elements">
        <input 
            class="form-control inputt"
            type="text"
        >
        <input 
            class="form-control inputt"
            type="text"
        >
        <input 
            class="form-control inputt"
            type="text"
        >
        <button
            class="btn btn-outline-success"
        >
            Create Sheet
        </button>
    </div>
</div>